<ion-view title="Devops-Home">
    <ion-tabs class="tabs-assertive tabs-icon-top">
        <!--ion-tab title="Home" icon="ion-home" href="#/devops/projects">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab-->
        <ion-tab title="View Alerts" icon="ion-alert-circled" href="#/devops/projects">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Edit Info" icon="ion-ios-compose" href="#/devops/editinfo">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Logout" icon="ion-log-out" href="#/logout">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>